.category {
    width: 60%;
}

.category .v-treeview-node__root {
    padding: 0 13px;
}

.category .v-treeview-node {
    border: 1px solid #d3d8df;
}

.category .v-treeview-node:not(:last-child) {
    border-bottom: 0;
}

.category .v-treeview-node__root .fa-chevron-down {
    font-size: 12px;
    transform: rotate(0deg);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: 1px solid #d3d8df;
    margin-right: 16px;
}

.category .v-treeview-node__root .fa-chevron-down::before {
    color: #0066ff;
}

.category .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
}

.category .v-treeview-node__root .v-treeview-node__toggle--open {
    transform: rotate(180deg);
}

.category .v-treeview-node__root .category__field {
    width: 50%;
    padding: 5px;
    outline: none;
    color: #000000;
}

.category .v-treeview-node__root .category__field {
    font-size: 16px;
    font-weight: 600;
}

.category .v-treeview-node__children .category__field {
    font-size: 15px;
    font-weight: 600;
    font-family: system-ui;
}

.category .v-treeview-node__children .v-treeview-node {
    padding: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.category .v-treeview-node__children .v-treeview-node__level:first-child {
    display: none;
}

.category .editabled {
    font-weight: 600;
    border-bottom: 1px solid;
}

.item-sub .category__info {
    border-top: 0;
}

.open .arrow,
.close .arrow {
    transition: 0.3s;
}

.open .arrow {
    transform: rotate(180deg);
}

.close .arrow {
    transform: rotate(0deg);
}

.category__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border: 1px solid #8e9cbb;
    cursor: pointer;
}

.category__info>div {
    display: flex;
    align-items: center;
}

.category__info button {
    width: 25px;
    min-height: 25px;
    ;
}

.category__info button img {
    margin: auto;
}

.category__items input,
.category__title input {
    padding: 0;
    font-weight: 600;
    background-color: transparent;
    color: #000000;
    outline: none;
    border: none;
}

.category__title input {
    font-size: 18px;
}

.category__items input {
    font-size: 16px;
}

.category__title h3 {
    margin-right: 8px;
}

.category__title button {
    height: 23px;
    margin-right: 16px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #8e9cbb;
    cursor: pointer;
}

.category__controls {
    display: flex;
    align-items: center;
    gap: 12px;
}

.category__controls button {
    background-color: transparent;
    border: none;
    margin: 0;
}

.category__controls .draggable {
    transform: rotate(90deg);
}

.category__items ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px 13px;
    border: 1px solid #8e9cbb;
}

.category__items ul li:first-child {
    border-top: 0;
}