/* .category .v-treeview-node__root .v-treeview-node__toggle {
    display: none;
} */

.item-sub .category__info {
    border-top: 0;
}

.open .arrow,
.close .arrow {
    transition: 0.3s;
}

.open .arrow {
    transform: rotate(180deg);
}

.close .arrow {
    transform: rotate(0deg);
}

.category__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border: 1px solid #8e9cbb;
    cursor: pointer;
}

.category__info>div {
    display: flex;
    align-items: center;
}

.category__info button {
    width: 25px;
    min-height: 25px;
    ;
}

.category__info button img {
    margin: auto;
}

.category__items input,
.category__title input {
    padding: 0;
    font-weight: 600;
    background-color: transparent;
    color: #000000;
    outline: none;
    border: none;
}

.category__title input {
    font-size: 18px;
}

.category__items input {
    font-size: 16px;
}

.category__title h3 {
    margin-right: 8px;
}

.category__title button {
    height: 23px;
    margin-right: 16px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #8e9cbb;
    cursor: pointer;
}

.category__controls {
    display: flex;
    align-items: center;
}

.category__controls button {
    background-color: transparent;
    border: none;
    margin: 0;
}

.category__controls .draggable {
    transform: rotate(90deg);
}

.category__items ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px 13px;
    border: 1px solid #8e9cbb;
}

.category__items ul li:first-child {
    border-top: 0;
}