#document .document__title,
#document .document__create,
#document .document__search,
#document .document__search > div,
#document button {
  display: flex;
  align-items: center;
}

#document {
  max-width: 1366px;
  height: 500px;
  margin: 2rem auto;
  padding: 2rem 1.5rem; 
  background-color: #fff;
}

#document .document__title {
  flex-wrap: wrap;
}

.document__title {
  margin-bottom: 16px;
  justify-content: space-between;
}

.document__create {
  gap: 16px;
}

.document__create .bookmark {
  padding: 3px;
  border-radius: 100%;
  width: 27px;
  min-height: 27px;
}

.document__create .bookmark img {
  margin: auto;
}

.document__title button {
  border-radius: 32px;
  padding: 6px 10px;
  border: 1px solid #b8b8b8;
  background-color: transparent;
  cursor: pointer;
}

.document__title button b {
  margin-left: 8px;
}